.iziModal {
    background: $green-apple;
}
.login {
    padding: 92px 15px 114px;
    position: relative;

    &__close {
        font-size: 18px;
        color: $white;
        position: absolute;
        top: 21px;
        right: 27px;
        cursor: pointer;

        &:hover {
            color: $tomato;
        }
    }
    &__title {
        color: $white;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 42px;
        text-align: center;

        @include mobile {
            font-size: 36px;
        }
    }
    &__form {
        max-width: 400px;
        margin: 0 auto;
    }
    &__input-group {
        display: flex;
        align-items: center;
        background: #76ae36;
        padding: 0 18px;
        margin-bottom: 8px;
        color: $white;
    }
    &__input-icon {
        font-size: 14px;
        margin-right: 12px;
    }
    &__input {
        width: 100%;
        height: 43px;
        font-size: 14px;
        font-weight: 400;
        background: transparent;
        border: none;
        outline: none;
    }

    &__bottom {
        display: flex;
        margin-top: 19px;

        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__btn-submit {
        width: 139px;
        height: 48px;
        box-shadow: 0 2px 2px rgba(118, 174, 54, 0.75);
        background-color: #ffffff;
        border: none;
        margin-right: 10px;
        font-size: 14px;
        font-weight: 700;
        font-family: Roboto;
        text-transform: uppercase;

        @include mobile {
            width: 100%;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
    &__register {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        height: 48px;
        padding: 0 10px;
        color: $white;
        text-decoration: none;
        background-color: #76ae36;
    }
    &__reg-icon {
        font-size: 18px;
        margin-right: 12px;
    }
    &__reg-label {
        font-size: 18px;
        font-weight: 400;
    }
    &__lost-pass {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        margin-top: 27px;
    }

    ::-webkit-input-placeholder {color:$white;}
    ::-moz-placeholder          {color:$white;}/* Firefox 19+ */
    :-moz-placeholder           {color:$white;}/* Firefox 18- */
    :-ms-input-placeholder      {color:$white;}
}