.why-choose {
    $root: &;
    background: #263238;
    padding: 124px 0 118px;

    @include tablet {
        padding: 80px 0 70px;    
    }

    &__title {
        color: $white;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 82px;

        @include tablet {
            font-size: 28px;
            margin-bottom: 40px;
        }
        @include mobile-large {
            font-size: 22px;
        }
        @include mobile {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    &__wrapper {
        display: flex;
        max-width: 1124px;
        margin: 0 auto;

        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__item {
        width: 33.3333%;
        margin: 0 44px;

        @include tablet {
            margin: 0 44px 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        @include mobile-large {
            width: 50%;
            margin: 0 44px 35px;
        }
        @include mobile {
            width: 100%;
            margin: 0 24px 35px;
        }

        &:nth-child(2) {
            #{$root} {
                &__item-title {
                    color: $green-apple;

                    @include tablet {
                        color: $white
                    }
                }
            }
        }
    }
    &__img {
        width: 113px;
        height: 113px;
        border-radius: 50%;
        background: #b5b5b5;
        margin: 0 auto;
    }
    &__item-title {
        color: $white;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin: 33px 0 26px;
    }
    &__label {
        color: #b0bec5;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        line-height: 24px;
    }
}