.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid #d7d7d7;
    background-color: $white;
    padding: 0 24px;

    &__inner {
        display: flex;
    }
    &__left {
        display: flex;
    }
    &__mobile-btn {
        color: #707070;
        transition: color .3s ease-out;
        margin-right: 15px;
        cursor: pointer;

        &:hover,
        &--active {
            color: $green-apple;
        }
    }
    &__right {
        display: flex;
        margin: 0 -6px;
    }
    &__icon-sort {
        margin-right: 12px;
    }
    &__filter-sort {
        display: flex;
        cursor: pointer;
        color: #707070;

        &:hover {
            .fas {
                color: $green-apple;
            }
        }
    }
    &__sort-label {
        padding-right: 5px;
    }
    &__sort-drop-down {
        padding-right: 12px;
    }
    &__collumns {
        padding: 0 6px;
        color: #90a4ae;
        cursor: pointer;
        transition: color .3s ease-out;

        &:hover {
            color: $green-apple;
        }
    }
    &__list {
        padding: 0 6px;
        color: #90a4ae;
        cursor: pointer;
        transition: color .3s ease-out;

        &:hover {
            color: $green-apple;
        }
    }
}