.paginations {
    display: flex;
    margin-top: 60px;

    &__item {
        display: block;
        width: 43px;
        height: 38px;
        box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
        background-color: $white;
        line-height: 38px;
        text-align: center;
        text-decoration: none;
        margin-right: 8px;
        color: #263238;
        font-size: 16px;
        font-weight: 500;
        transition: all .3s ease-out;

        &:hover,
        &--active {
            background-color: $tomato;
            color: $white;
        }
    }
}