.menu {
    background-color: #263238;
    height: 60px;
    position: relative;

    @include tablet {
        height: auto;
    }
    @include mobile {
        height: 40px;
    }

    &__inner {
        @include mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
        }
    }

    &__btn {
        display: none;
        width: 25px;
        cursor: pointer;

        @include mobile {
            display: block;
        }
    }
    &__btn-bar {
        width: 100%;
        height: 2px;
        background: $white;
        margin-bottom: 5px;

        @include mobile {
            display: block;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__mob-logout {
        display: none;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;

        @include mobile {
            display: block;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        height: 60px;
        font-size: 14px;
        font-weight: 500;
        margin: 0 -15px;
        overflow: hidden;

        @include tablet {
            flex-wrap: wrap;
            width: 100%;
            height: auto;
        }
        @include mobile {
            max-height: 0;
            background: rgba(38, 50, 56, 0.8);
            margin: 0;
            position: absolute;
            top: 40px;
            left: 0;
            overflow: hidden;
            transition: max-height .3s ease-out;

            &.active {
                max-height: 350px;
            }
        }
    }
    &__list-item {
        padding: 0 20px;
        color: $white;
        transition: color .3s ease-out;

        &:hover {
            color: $green-apple;
        }

        @include tablet {
            width: 20%;
            padding: 10px 20px;
        }
        @include mobile-large {
            width: 33.333%
        }
        @include mobile {
            width: 100%;
        }
    }
}