.tutorials {
    padding: 120px 0;

    @include mobile-large {
        padding: 80px 0;
    }

    &__title {
        color: #263238;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 56px;

        @include tablet {
            font-size: 28px;
            margin-bottom: 40px;
        }
        @include mobile-large {
            font-size: 22px;
        }
        @include mobile {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    &__wrapper {
        display: flex;
        margin: 0 -15px;

        @include tablet {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &__tutorial-item {
        width: 33.3333%;
        padding: 0 15px;

        @include tablet {
            width: 50%;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        @include mobile-large {
            width: 100%;
        }
    }
    &__inner {
        background: #f8f8f8;
    }
    &__img {
        height: 270px;
        background: #d4d4d4;

        @include mobile {
            height: 200px;
        }
    }
    &__description {
        padding: 38px 15px;
        text-align: center;
        color: #263238;
        font-size: 24px;
        font-weight: 700;

        @include mobile-large {
            font-size: 18px;
        }
        @include mobile {
            font-size: 14px;
        }
    }
}