.author {
    background-color: #f4f6f5;
    padding: 130px 0;

    @include laptop {
        padding: 0;
    }

    &__inner {
        max-width: 1005px;
        margin: 0 auto;
        padding: 112px 0;
        background: #b5b5b5;

        @include mobile-large {
            padding: 35px 0 0;
            background: transparent;
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        max-width: 653px;
        height: 216px;
        background: $green-apple;
        margin: 0 auto;
        padding: 0 60px;

        @include mobile-large {
            padding: 0 25px;
            justify-content: space-between;
        }
        @include mobile {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__info {
        font-size: 30px;
        font-weight: 400;
        color: $white;

        @include mobile-large {
            font-size: 22px;
            padding-right: 16px;
        }
        @include mobile {
            padding-right: 0;
        }
    }
    &__link {
        width: 225px;
        min-width: 225px;
        height: 63px;
        background: $white;
        line-height: 63px;
        color: #263238;
        font-size: 18px;
        font-weight: 400;
        text-align: center;

        @include mobile-large {
            width: 180px;
            min-width: 180px;
        }
        @include mobile {
            margin-top: 24px;
        }
    }
}