// 1600px - widescreen-large
// 1440px - widescreen
// 1200px - laptop
// 960px - tablet
// 720px - mobile-large
// 480px - mobile

$widescreen-large: 1600px;
$widescreen: 1440px;
$laptop: 1200px;
$tablet : 960px;
$mobile-large: 720px;
$mobile: 480px;

$green-apple: #8bc34a;
$tomato: #e74c3c;
$white: #ffffff;
$dark-gray: #263238;
$gray: #546e7a;
$light-gray: #b0bec5;
$lighten-gray: #f5f5f5;