.hot-product {
    padding: 120px 0;

    &__title {
        text-align: center;
        color: #263238;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 55px;

        @include tablet {
            font-size: 28px;
            margin-bottom: 40px;
        }
        @include mobile-large {
            font-size: 22px;
        }
        @include mobile {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .owl-carousel button.owl-dot {
        width: 16px;
        height: 16px;
        background-color: #e8e8e8;
        border-radius: 50%;
        margin: 0 3px;
        outline: none;

        &.active {
            background: #8bc34a;
        }
    }
}