.catalog {
    padding-top: 121px;
    background-color: #f4f6f5;
    padding: 120px 32px 112px;

    @include tablet {
        padding: 80px 15px 75px;
    }
    @include mobile-large {
        padding: 80px 15px 75px;
    }
    @include mobile {
        padding: 40px 15px 35px;
    }

    &__title {
        color: #263238;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 60px;

        @include tablet {
            font-size: 28px;
            margin-bottom: 40px;
        }
        @include mobile-large {
            font-size: 22px;
        }
        @include mobile {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    &__bottom-actions {
        display: flex;
        justify-content: center;
        margin-top: 78px;

        @include tablet {
            margin-top: 40px;   
        }
        @include mobile {
            margin: 40px -6px 0;
        }
    }
    &__action-item {
        display: block;
        padding: 20px 32px;
        color: #263238;
        font-size: 16px;
        font-weight: 400;
        background: $white;
        margin: 0 6px;
        text-decoration: none;
        transition: all .3s ease-out;

        @include mobile {
            padding: 20px 12px;
        }

        &:hover {
            background: $green-apple;
            color: $white;
        }
    }
}
.catalog-tabs {
    $root: &;

    &__list {
        display: flex;
        justify-content: center;
        margin: 0 -3px 60px;

        @include tablet {
            margin: 0 -3px 35px;
        }
        @include mobile-large {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    &__list-item {
        padding: 0 3px;

        @include mobile-large {
            width: 33.3333%;
            margin-bottom: 12px;
            text-align: center;
        }
        @include mobile {
            width: 50%;
        }

        &.ui-tabs-active {
            #{$root} {
                &__item {
                    background: $tomato;
                    color: $white;
                }
            }
        }
    }
    &__item {
        display: block;
        height: 37px;
        padding: 0 22px;
        line-height: 37px;
        background: $white;
        color: #263238;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        transition: all .3s ease-out;

        @include mobile {
            padding: 0 12px;
        }

        &:hover {
            background: $tomato;
            color: $white;
        }
    }
    &__product-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .product {
        width: 25%;

        @include widescreen-large {
            width: 33.3333%;
        }
        @include tablet {
            width: 50%;
        }
        @include mobile-large {
            width: 100%;
        }
        
    }
}